<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleDocumentTypes</key>
	<array>
		<dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                    <string>gff</string>
                    <string>embl</string>
                    <string>EMBL</string>
                    <string>genbank</string>
                    <string>gbk</string>
				    <string>fasta</string>
                    <string>seq</string>
                    <string>art</string>
                    <string>dna</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>sequence</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
		</dict>
	</array>
    <key>CFBundleExecutable</key>
    <string>JavaAppLauncher</string>
    <key>CFBundleIconFile</key>
    <key>CFBundleIdentifier</key>
    <key>CFBundleDisplayName</key>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>JVMRuntime</key>
    <string>JRE</string>
    <key>JVMMainClassName</key>
    <key>JVMClassPaths</key>
    <key>JVMVersion</key>
    <key>JVMOptions</key>
    <key>JVMArguments</key>
    <key>LauncherWorkingDirectory</key>
    <string>$APP_ROOT</string>
  </dict>
</plist>
